<!DOCTYPE html> 
<html lang="en">    

<head>      
<title>Home Page</title>

    
   
<style>

..button {
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    }
 
.auto-style1 {
	border-style:inset;
	border-color: inherit;
	border-width:thin;
	background-color:orange;
	color: white;
	padding: 9px 150px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;  
    }
    
.auto-style2{
margin-left: 1600px;
}

 nav{
       background-color: black;
}

main{
    padding-left: 670px;
}
form{
    background-color: black;
    }
    label{
        color:orange;
        font-size:20px;
        
    }
    input{
        padding-left: 150px;
    }
    #BIGbox{
        padding-bottom: 200px;
    }

</style>
    
</head>
<body>


<header>
       
                      
</header>            
<footer>

</footer>
</body>
</html>